<div class="col-md-12">
    <h3 ng-bind="title"></h3>
</div>
<div class="col-md-12" ng-repeat="post in feed track by $index">
    <div class="box box5 shadow5">
        <h3 ng-bind="post.title"></h3>
        <h6>
            <span ng-bind="post.author"></span>
            <span ng-bind="post.postDate"></span>
        </h6>
        <p ng-bind="post.body"></p>
        <button type="button" class="btn btn-warning" ng-click="unsubscribe(post.author)">
            <span class="glyphicon glyphicon-heart-empty"></span>Remove from favorites
        </button>
    </div>
</div>