.navbar {
    border-radius: 0;   
}

#logo {
    width: auto; 
    height: 65px; 
    margin-top: -.85em; 
    border-radius: 0px 0px 50px 50px;

    /*overlay an object over another one*/
    /*z-index: 1;*/         
    /*position: absolute;*/
}